* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: black;
  width: 100%;
  height: 380px;
}
.nav-container {
  width: 50%;
  height: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 10px;
}
.author-name-container {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.author-name,
.author-nationality {
  color: white;
}
.author-nationality {
  font-size: 12px;
}
.content-author-img-container {
  width: 80%;
  margin-left: 200px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.author-article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
h3 {
  margin-bottom: 20px;
}
.author-img-container {
  margin-top: 50px;
  margin-right: 110px;
}
.more-info-link {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 100px;
  margin-top: 50px;
}
.btn-wiki,
.btn-video,
.btn-ebook {
  border: none;
  width: 150px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  color: white;
  border-radius: 4px;
}
.btn-wiki {
  background-color: lightgray;
  color: black;
}
.btn-ebook {
  background-color: rgb(255, 178, 35);
}
.btn-video {
  background-color: rgb(255, 55, 55);
}
.quote-main-container {
  background-color: black;
  width: 100%;
  height: 120px;
  margin-top: 50px;
}
.quote-container {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quotes {
  margin-top: 20px;
  font-size: 16px;
}
.leagacy-title-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  align-items: center;
}
.leagacy-title {
  margin: 0px 55px 0px 55px;
  width: 200px;
  font-size: 20px;
}
.line {
  border-top: 1px solid black;
  width: 80%;
}
.year {
  color: rgb(160, 159, 159);
  margin-bottom: 10px;
  margin-right: 190px;
}
.card-main-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.card-sub-container {
  background-color: white;
  box-shadow: 1px 3px 2px 5px rgb(0, 0, 0, 0.16);
  width: 280px;
  height: 180px;
  margin-bottom: 100px;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.leagacy-received-instiute {
  font-size: 12px;
  width: 220px;
  text-align: left;
}
.leagacy-category {
  font-size: 16px;
  margin-top: 10px;
  text-align: left;
}
.poetry-title-container {
  display: flex;
  width: 500px;
  margin-left: 100px;
}
.poetry-title {
  margin-left: 50px;
  margin-right: 50px;
}
.line-2 {
  width: 100px;
  border-top: 1px solid black;
}
.poetry-points-container {
  width: 50%;
  margin-left: 100px;
  width: 500px;
}
.poetry-main-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
li {
  margin-bottom: 5px;
}
.poetry-biogrophy-container {
  display: flex;
  margin-bottom: 100px;
}
span{
  color: red;
}
footer{
  background-color: rgb(30, 30, 30);
  width: 100%;
  height: 200px;
}
.footer-content-container{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100%;
 width: 80%;
 gap: 50px;
 margin-left: 150px;
}
.about-container,.Tech-container,.disclaimer-container{
  color: white;
  h3{
    font-size: 14px;
  }
}
.line2{
  border-right: 1px solid rgb(220, 220, 220);
  height: 80px;
}